body {
  display: block;
  background: #E5E5E5;

}

#conteiner {

  justify-items: center;
}

#caja {
  display: flex;
  margin: auto;


}

#logo {
  margin: 4%;
}

#input-texto {
  display: flex;
  margin: auto;
  width: 90%;
  height: 35%;
  padding: 2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
  border: none;
}

#input-texto::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
}

#info {
  margin: 1% 2%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#botones {
  width: 90%;
  display: block;
  margin: auto;
  gap: 1%;

}

#btn-encriptar {
  display: flex;
  margin: 1% auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 1%;
  width: 100%;
  height: 7%;
  background: #0A3871;
  border-radius: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
}

#btn-desencriptar {
  box-sizing: border-box;
  display: flex;
  margin: 1% auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 1%;
  width: 100%;
  height: 7%;
  border: 1px solid #0A3871;
  border-radius: 24px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0A3871;
  justify-content: center;
}

#btn-copiar {
  box-sizing: border-box;
  display: flex;
  margin: 1% auto;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 1%;
  width: 70%;
  height: 5%;
  border: 1px solid #0A3871;
  border-radius: 24px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0A3871;
  justify-content: center;
}

#munieco {
  display: none;
}

#cuadro-resultado {
  display: flex;
  margin: auto 5%;
  height: max-content;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  gap: 32px;
  position: absolute;
  width: 90%;
  /* height: 15%; */
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  justify-items: center;

}

#mensajes-estado {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#respuesta {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343A40;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}


@media only screen and (min-width: 768px) and (max-width:1023px) {

  /* For tablets: */
  html {
    height: 100%;
  }

  body {
    min-height: 100vh;

  }

  .conteiner {
    min-height: 100vh;
  }

  .caja {
    min-height: 50vh;
  }

  #botones {
    display: flex;
    height: 50%;
    margin-top: 10%;
  }
  #btn-encriptar{
    width: 45%;
    height: 5%;
  }
  #btn-desencriptar{
    
    width: 45%;
    height: 5%;
  }
  #input-texto{
    height: 70%;
  }
  
}

@media only screen and (min-width: 1024px) {

  /* For desktop: */
  html {
    min-height: 100vh;
  }


  body {
    font-family: "Inter", sans-serif;
    font-family: "Montserrat", sans-serif;
    position: absolute;
    width: 100%;
    height: 100%;
   

  }

  .conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 95%;
    height: 98%;
    left: 5%;
    top: autos;
    padding-left: 1%;
    padding-top: 1%;
  }

  .caja {
    position: absolute;
    width: 65%;
    left: 0;
    height: 90%;

  }
  #botones{
    display: flex;
  }
  #btn-encriptar, #btn-desencriptar, #btn-copiar{
    width: 45%;
    height: 5%;
  }

  #cuadro-resultado {

    position: absolute;
    width: 25%;
    height: 90%;
    left: 65%;
    top: 5%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    justify-content: center;
  }

  #munieco {
    display: block;
  }
  #input-texto{
    height: 70%;
  }

}