body {
  display: block;
  background: #E5E5E5;
  
}

#conteiner {
  
  justify-items: center;
}

caja {
  display: flex;
  margin: auto;
  

}

#logo {
  margin: 4%;
}

#input-texto {
  display: flex;
  margin: auto;
  width: 90%;
  height: 35%;
  padding: 2px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
  border: none;
}

#input-texto::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
}

#info {
  margin: 1% 2%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #495057;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#botones {
  width: 90%;
  display: block;
  margin: auto;
  gap: 1%;

}

#btn-encriptar {
  display: flex;
  margin: 1% auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 1%;
  width: 100%;
  height: 7%;
  background: #0A3871;
  border-radius: 24px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
}

#btn-desencriptar {
  box-sizing: border-box;
  display: flex;
  margin: 1% auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 1%;
  width: 100%;
  height: 7%;
  border: 1px solid #0A3871;
  border-radius: 24px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0A3871;
  justify-content: center;
}

#btn-copiar {
  box-sizing: border-box;
  display: flex;
  margin: 1% auto;
  flex-direction: row;
  align-items: center;
  padding: 24px;
  gap: 1%;
  width: 100%;
  height: 7%;
  border: 1px solid #0A3871;
  border-radius: 24px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0A3871;
  justify-content: center;
}





#munieco {
  display: none;
}

#cuadro-resultado {
  display: flex;
margin: auto 5%;
  height: max-content;
  
  
  /* display: flex;
  margin: 2% auto; */
  flex-direction: column;
  align-items: center;
  padding: 1%;
  gap: 32px;
  position: absolute;
  width: 90%;
  /* height: 15%; */
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
  justify-items: center;

}

#mensajes-estado {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#respuesta {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343A40;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}